{% extends 'base.html' %}
{% load static %}

{% block titulo %}HOME{% endblock titulo %}


{% block contenido %}
	<h2>Asociacion protectora de animales Charata</h2>
	<p>Nuestra mision:Educar en el respeto y con la dignidad que merecen ser tratados todos los animales como individuos sintientes.Promover y difundir sus derechos, plasmados en la legislación vigente.
		Exigir por parte del Estado el cumplimiento de políticas públicas relativas al equilibrio poblacional de perros y gatos como parte del cuidado de la salud comunitaria y en protección, garantizando su permanencia en el tiempo como política de estado</p>
	<img src="https://www.instagram.com/p/CaFj2ehl2tT/" alt="Asociacion protectora foto instagram">
{% endblock contenido %}

