{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
	<h2>Acerca de nuestros objetivos</h2>
	<p>
		Metas 2023: seguir acompaña al estado municipal en la aplicación del programa de equilibrio poblacional ( Castraciones de perros y gatos gratuitas, tempranas , extendidas, no excluyentes, sistemáticas, y masivas permanentes, así como vacunación Antirrábica y desparasitación)
		Seguir trabajando en él mientras tanto en relación a la problemática de sobrepoblación animal con hogares de tránsito, fomentando la adopción y nunca la compra de Animales, asistir y asesorar en casos de maltrato animal .
	</p>
	<h2>Autoridades de la Organización</h2>
	<ul>
		<li>Presidente: Marilina de Oro  </li>
		<li>Secretaria: Julieta Ojeda </li>
		<li>Vocal: Griselda Romañuk </li>
		<li>Voluntaria: Patricia Taboada </li>
	</ul>
	<h2>Contacto</h2>
	<ul>
		<li>Telefono: 3731439977</li>
		<li>Correo electrónico: apacharata@hotmail.com</li>
		<li>Instagram: <a href="https://www.instagram.com/apacharata/" target="_blank"></a></li>
	</ul>


	

{% endblock contenido %}

